html {
  padding-top: 6vh;
  background-color: #001d0b;
  background-image: url("https://www.transparenttextures.com/patterns/hixs-evolution.png");
  font-family: 'Metamorphous', cursive;
  text-align: center;
  color: #001d0b;
}

button, button:hover {
  font-family: 'Metamorphous', cursive;
  text-shadow: .1vh .1vh #001d0b;
  text-align: center;
  z-index: 1;
  transition: box-shadow 2s, color 2s, font-size 2s;
  padding: 0;
  background-image: url('../images/elements/button.jpg');
  background-size: cover;
  position: absolute;
  bottom: 3vh;
  left: 40vw;
  height: 14vh;
  width: 14vh;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  outline: none;
  border: none;
  color:  #001d0b;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2vw;
  letter-spacing: 2px;
}

button:hover {
  box-shadow: 1px -1px 20px 15px #D0FA96;
  color: oldlace;
  font-size: 1.4vw;
}

h3, i {
  padding-top: 2vh;
  margin: 0;
  text-align: center;
  font-family: 'Metamorphous', cursive;
  color: #001d0b;
}

i {
  padding-top: 1.4vh;
  cursor: pointer;
}

ul {
  display: block;
  list-style: none;
  width: 100%;
  height: 20%;
  padding: 4px;
  margin: 0;
  float: left;
  font-size: 2.8vh;
}

li {
  display: block;
  color: #001d0b;
  height: 8vh;
  width: 8vh;
  float: left;
  margin: 5vh 1vh;
  background-size: contain;
  background-position: center;
  background-image: url('../images/elements/li_square.png');
  background-repeat: no-repeat;
}

li:first-child:before, li:nth-child(2):before {
  display: block;
  content: "Jewels";
  position: absolute;
  top: 2vh;
  text-align: center;
  font-weight: bold;
  text-shadow: 2px 2px 3px #D0FA96, -2px -2px 3px #D0FA96;
  color: #001D0B;
  font-size: 2.5vh;
}
li:nth-child(2):before {
  content: "Time";
}

li:last-child {
  float: right;
  margin-right: 1.8vh;
}

p {
  font-family: 'Oldenburg', cursive;
  font-weight: bold;
  z-index: 1;
  font-size: 1.8vw;
  padding: 0 8vw;
  margin: 0;
  background-repeat: no-repeat;
}
.group:after {
  content: "";
  clear: both;
  display: block;
}

#welcome {
  background-image: url('../images/backgrounds/welcome.jpg');
  background-size: cover;
}
#welcome, #gamespace, #game-won, #game-lost {
  box-shadow: inset 5px 5px 5px black;
  width: 90vw;
  margin: auto;
  position: relative;
  height: 85vh;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
}

#gamespace, #game-won, #game-lost {
  display: none;
}

#gamespace {
  background-image: url('../images/backgrounds/gold.jpg');
}

#game-won {
  background-image: url('../images/backgrounds/won.jpg');
  background-position-x: -8px;
}

#game-lost {
  background-image: url('../images/backgrounds/lost.jpg');
}

#basket {
  display: block;
  height: 15vh;
  width: 15vh;
  background-image: url('../images/elements/basket.png');
  background-position:center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
}

h1 {
  display: block;
  font-size: 4vw;
  margin: 6vh auto 0 auto;
  z-index: 1;
}

.jewel {
  background-size: contain;
  background-repeat: no-repeat;
  height: 6.5vh;
  width: 6.5vh;
  margin: 0;
  padding: 0;
  float: left;
  position: absolute;
}

@keyframes fall {
  0% {
    top: 0%;
    display: block;
  }
  100% {
    top: 100%;
    display: none;
  }
}
